h1{
    color: aliceblue;
    padding-bottom: 10px;
}

.ColorList-add-color-div{
    background-color: rgb(96, 104, 117);
    height: 100px;
}

.ColorList-add-color-btn{
    color: whitesmoke;
    font-size: x-large;
}

.ColorList-add-color-btn:hover{
    cursor: pointer;
    color: rgb(228, 228, 228);
}

.ColorList-add-color-btn:active{
    color: rgb(150, 150, 150);
}

.ColorList-color{
    color: rgb(33, 37, 43);
}

.ColorList-colors{
    padding: 20px;
}
